#mushHuntBar {
	display: none;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    background-color: #ff0000;
    text-align: center; 
    margin: 5px;
}

#map-canvas {
    height: 500px;
}

#taskImg {
    width  : 100%;
    height : auto;
}

#taskTab button{
    padding-top:.40em;
    padding-bottom:.40em;
}

#taskTimerDiv {
	display: none;
    text-align: center;
}

#takeTaskButton {
	display: none;
}

#mainPage .header {
	padding-top: 20px;
}

.container {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    text-align: center; 
    padding: 5px;
}

#taskImgLink {
    display: none;
}

#timerDiv {
    padding-left: 10px;
}