html, body {
    background-color: #3b3b3b;
}

html, body {
    margin: 0;
    padding: 0;
}

html, body, #map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* This is the hack to hide Google's links in the bottom of the map */
}
