html, body {
    background-color: #3b3b3b;
}

html, body {
    margin: 0;
    padding: 0;
}

html, body, #map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* This is the hack to hide Google's links in the bottom of the map */
}

.row {
	margin: 0;
}

.status-bar {
	background-color: #3b3b3b;
}

.status-bar .val {
	display: inline;
}

.hunt-bar {
	display: none;
}

.hunt-bar .container {
	text-align: center;
}

.container {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 20px;
}
.hunt-bar {
	background-color: #ff0000;
}
