.menu {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu .main .icon {
    float:right;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

.menu .main .icon i {
    margin-right: 5px;
    margin-left: 5px;
}

.menu .main .status {
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

.menu .dropdown {
    height: 500px;
    display: none; /* dropdown menu is hidden by default */
}