<!DOCTYPE HTML>
<html>

<head>
    <title>MoscowMrX</title>
    <link rel="shortcut icon" href="http://faviconist.com/icons/e4fd4f63c0c72e6764fe665b644b8c80/favicon.ico" />

    <!-- for mobile view -->
    <meta name='viewport content='width=device-width, initial-scale=1, user-scalable=no''>
    <meta charset="utf-8">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="//s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" rel="stylesheet">-->

    <link href="static/css/main.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false" type="text/javascript"></script>

    <script src="static/js/script.js" type="text/javascript"></script>
</head>
 
<body>
    <div class="menu-bar">
        <div class="icon-menu">
            <i class="fa fa-bars"></i>
            <!--You can add menu text here-->
        </div>
    </div>
    <!-- display the map -->
    <div id="map-canvas"></div>
</body>
 
</html>